/* RR20044 */
pais {
    background-color: #FBDF07;
    width: 100vw;
    height: 100vh;
    color: white;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
departamento {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}